<%= render 'header' %>
<div class="container dashboard">
	<h3 class="text-info"><b>Editing Partner</b></h3>
	<hr>
	<%= render 'form' %>

	<%= link_to 'Show', @partner %> |
	<%= link_to 'Back', partners_path %>
</div>
<%= render 'footer' %>