<%= render 'header' %>

<div class="container dashboard">
  <%= render 'layouts/message' %>
  <h3 class="text-info"><b>3PL Partners</b></h3>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @partners.each_with_index do |partner, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= partner.email %></td>
        <td><%= partner.name %></td>
        <td>
          <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_partner_path(partner) %>&nbsp;&nbsp;&nbsp;
          <%= link_to '<i class="glyphicon glyphicon-remove text-danger"></i>'.html_safe, partner, method: :delete, data: { confirm: 'Are you sure?' } %>            
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <%= link_to '<i class="glyphicon glyphicon-plus" ></i> New Partner'.html_safe, new_partner_path, class: 'btn btn-primary btn-sm' %>
  <br><br>
  <h3 class="text-info">
    Select Email Template <small>( Current Template: <b><%= current_user.template %></b> )</small>
  </h3>
  <hr>
  <%= form_tag(save_template_path, {:method => :post}) do %>
  <select class="form-control" name="template">
    <% Template.all.each do |template| %>
    <option><%= template.template_name %></option>
    <% end %>
  </select>

  <hr>
  <button class="btn btn-primary">Save</button>
  <% end %>  
</div>

<%= render 'footer' %>


