<div id="preloader"> <i class="fa fa-spinner fa-spin"></i></div>

<% if ShopifyAPI::RecurringApplicationCharge.current %>

<div class="container-fluid" id="admin-panel">
	<div class="panel panel-default">
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-xs-2 col-sm-1">
	  			<%= image_tag 'sourcify.jpg', class: 'img-responsive img-rounded' %>
	  		</div>
	  		<div class="col-xs-10 col-sm-11">
	  			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  		</div>
	  	</div>	  	
	  </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-info"><b>Charge Lists ( $30 for every request to send emails to 3PL partners ) </b></h4>
			<hr>
			<% if @usage_charges.any? %>
				<table class="table table-hover">
            <thead>
              <tr>
              	<th width="45%">Email</th>                
                <th>Charge ID</th>
                <th>Price</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% @usage_charges.each do |charge| %>
                <tr>
                	<td>
                  	<span class="email-box">
	                  	<small class="text-muted">
	                  		<i class="glyphicon glyphicon-send"></i>&nbsp;&nbsp;&nbsp;
	                  		<b><%= @emails["#{charge.id}"].products.gsub!('[', '').gsub!(']', '') %></b>
	                  	</small>
	                  </span>
                  </td>
                  <td>
                    <%= charge.id %>
                  </td>                  
                  <td class="charge-price">
                    $<%= charge.price %>
                  </td>
                  <td>
                  	<%= charge.created_at %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
			<% end %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-info"><b>Product Lists</b></h4>
			<div id="product-lists">
				<div class="row">
					<% @products.each do |product| %>
						<div class="col-xs-6 col-sm-2">
							<div class="panel panel-default product-box" data-value="<%= product.to_json %>" >
								<img src="<%= product.images.first.src %>" class="img-responsive product-img" >
								<hr>
								<b class="text-info"><%= product.title %></b>
							</div>							
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-info"><b>Products to send to 3PL partners</b></h4>
			<hr>
			<table class="table" id="products">
				<thead>
					<tr>
						<th width="10%">Product Image</th>
						<th>Product ID</th>
						<th>Name</th>
						<th>Weight</th>
						<th>W x L x H <span class="text-muted">( mm x mm x mm )</span></th>
						<th>Has Battery?</th>
						<th>Special Notes</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<hr>
			<div class="text-right">
				<% if Partner.all.count < 1 %>
					<button class="btn btn-success btn-sm"  data-toggle="modal" data-target="#alertModal1" >
						<i class="glyphicon glyphicon-send"></i> Send Emails
					</button>
				<% else %>
					<button class="btn btn-success btn-sm" id="send-email" data-url="<%= send_eamils_path %>">
						<i class="glyphicon glyphicon-send"></i> Send Emails
					</button>
				<% end %>
			</div>			
		</div>
	</div>
	
</div>

<!-- Modal lists -->

<div class="modal fade" id="alertModal" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="text-info"><i class="glyphicon glyphicon-info-sign"></i> Information</h4>
			</div>
			<div class="modal-body">
				<div class="alert">There is no selected products. Please select at least one product.</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="alertModal1" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="text-info"><i class="glyphicon glyphicon-info-sign"></i> Information</h4>
			</div>
			<div class="modal-body">
				<div class="alert">There are no registered partners. Please wait and send after Admin register them.</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="specModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-info">Product Specifications</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Weight</label>
					<input type="text" step=".01" class="form-control" id="weight-input"  >
				</div>
				<div class="form-group">
					<label>Width <span>( mm )</span></label>
					<input type="number" step=".01" class="form-control" id="width-input" >
				</div>
				<div class="form-group">
					<label>Height <span>( mm )</span></label>
					<input type="number" step=".01" class="form-control" id="height-input" >
				</div>
				<div class="form-group">
					<label>Length <span>( mm )</span></label>
					<input type="number" step=".01" class="form-control" id="length-input" >
				</div>
				<div class="form-group">
					<label>Has Battery?</label>
					<select class="form-control" id="battery-input">
						<option>No</option>
						<option>Yes</option>						
						<option>Not Specified</option>
					</select>
				</div>
				<div class="form-group">
					<label>Special Notes</label>
					<textarea class="form-control" id="notes-input"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-sm" id="save-specs">Save</button>
			</div>
		</div>
	</div>
</div> 

<% else %>

<div class="container-fluid" id="admin-panel">
	<div class="text-center" id="welcome-div">
		<%= image_tag 'sourcify.jpg', width: '120', class: 'img-rounded' %>
		<h2 class="text-info"><b>Welcome to 3PL Stream by Sourcify!</b></h2>		
		<p class="text-muted">
			Easily compare Third Party Logistic Partners
		</p>
		<ul>
			<li>
				Start by setting up your account with your product details to get accurate 3PL quotations<br>
				<%= link_to 'Get Started', create_recurring_charge_path, class: 'btn btn-primary' %>
			</li>
			<li>
				Send your products to our Third Party Logistics Partners to get quotations
			</li>
			<li>
				View quotations and start working with the right third party logistics partner!
			</li>
		</ul>		
	</div>
</div>

<% end %>


