<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
      	<a href="/" >
      		<svg viewBox="0 0 20 20" >
      			<g>
      				<path d="M19 18a1 1 0 0 1 0 2H1a1 1 0 0 1 0-2h18zm0-18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h5V5a1 1 0 0 1 1-1h5V1a1 1 0 0 1 1-1h6zm-5 14h4V2h-4v12zm-6 0h4V6H8v8zm-6 0h4v-4H2v4z"></path>
      			</g>
      		</svg>
      		<span> Dashboard</span>
      	</a>
      </li>
      <li>
      	<a href="/" >
	      	<svg viewBox="0 0 20 20" >
	      		<g>
	      			<path d="M19 0h-9c-.265 0-.52.106-.707.293l-9 9a.999.999 0 0 0 0 1.414l9 9a.997.997 0 0 0 1.414 0l9-9A.997.997 0 0 0 20 10V1a1 1 0 0 0-1-1zm-9 17.586L2.414 10 4 8.414 11.586 16 10 17.586zm8-8l-5 5L5.414 7l5-5H18v7.586zM15 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2"></path>
	      		</g>
	      	</svg>
	      		<span> Products</span>
	      </a>
	    </li>
      <li class="active">
      	<a href="<%= show_quotes_path %>" >
      		<svg viewBox="0 0  20 20">
      			<g>
	      			<path d="M17 0H6C3.79 0 2 1.79 2 4v10H1c-.552 0-1 .448-1 1v1c0 2.21 1.79 4 4 4h9c1.657 0 3-1.343 3-3V6h1c1.657 0 3-1.343 3-3s-1.343-3-3-3zM4 18c-1.105 0-2-.895-2-2h8v1c0 .34.057.68.17 1H4zm10-1c0 .552-.448 1-1 1s-1-.448-1-1v-2c0-.552-.448-1-1-1H4V4c0-1.105.895-2 2-2h8.18c-.118.32-.18.66-.18 1v14zm3-13h-1V3c0-.552.448-1 1-1s1 .448 1 1-.448 1-1 1zm-5 1c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1zm0 4c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1z"></path>
	      		</g>
      		</svg>
      		<span> Quotes</span>
      	</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container-fluid" id="admin-panel">

	<div class="tab-content">
	  <div class="tab-pane fade in active">
	    <br>
			<h3>Quotes</h3>
			<br><br>

			<table class="table">
				<thead>
					<tr>
						<th>COMPANY</th>
						<th>REQUEST</th>
						<th>PRODUCTS</th>
						<th>DATE</th>
						<th>PARTNER</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @quotes.each do |quote| %>
						<tr>
							<td><%= quote.user.company %></td>
							<td><%= quote.email.products.first.title %>></td>
							<td><%= quote.email.products.count %></td>
							<td><%= quote.created_at %></td>
							<td><%= quote.user.name %></td>
							<td>
								<%= link_to '&#8594;'.html_safe, email_details_path(quote.email.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

	  </div>
	</div>	
</div>

