<br><br><br>
<div class="container">
  <div class="row">
    <div class="well col-md-6 col-md-offset-3">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
      <h3>Forgot your password?</h3>
      <hr>
      <p>We'll send password reset instructions.</p>
      <%= devise_error_messages! %>
      <%= render 'layouts/message' %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <%= f.submit 'Reset Password', :class => 'btn btn-primary right' %>
      <% end %>
    </div>
  </div>
</div>