
<div>
	<h3>Hi <%= @partner.name %>, </h3>
	<h4>Here are products from <%= @shop %></h4>
	<hr>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Image</th>
				<th>Title</th>
				<th>Weight</th>
				<th>W x H x L</th>
				<th>Has Battery?</th>
				<th>Special Notes</th>
			</tr>
		</thead>
		<% @products.each_with_index do |product, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><img src="<%= product[1][:image] %>" width="50" ></td>
			<td><%= product[1][:title] %></td>
			<td><%= product[1][:weight].html_safe %></td>
			<td><%= product[1][:whl] %></td>
			<td><%= product[1][:battery] %></td>
			<td><%= product[1][:notes] %></td>
		</tr>
		<% end %>
	</table>

</div>