<%= render 'layouts/header' %>
<div class="container dashboard">
<h3>Editing Template</h3>
<hr>

<%= render 'form' %>

<%= link_to 'Show', @template %> |
<%= link_to 'Back', etemplates_path %>
</div>
<%= render 'layouts/footer' %>