<%= render 'partners/header' %>
<div class="container dashboard">
  <%= render 'layouts/message' %>

  <h1>Listing Templates</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Template</th>
        <th>Template name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @templates.each do |template| %>
      <tr>
        <td><%= template.template_id %></td>
        <td><%= template.template_name %></td>
        <td><%= link_to 'Show', template %></td>
        <td><%= link_to 'Edit', edit_etemplate_path(template) %></td>
        <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Template', new_etemplate_path %>
</div>

<%= render 'partners/footer' %>
