<%= render 'layouts/header' %>
<div class="container dashboard">
	<br><br>

	<h4>
		Select Email Template <br><small>Active Template: <b><%= Etemplate.where(:template_id => current_user.template ).first.template_name %> ( #<%= current_user.template %> )</b></small>
	</h4>
	<hr>
	<%= form_tag(save_template_path, {:method => :post}) do %>
	<select class="form-control" name="template">
		<% Etemplate.all.each do |template| %>
		<option value="<%= template.template_id %>"><%= template.template_name %></option>
		<% end %>
	</select>

	<hr>
	<button class="btn btn-primary">Save</button>
	<% end %>

	<br><hr><br>

	<h4><b>Email Templates <small class="text-muted">in Sendgrid</small></b></h4>
	<hr>

	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Template name</th>
				<th>Template ID</th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% @templates.each_with_index do |template, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= template.template_name %></td>
				<td><%= template.template_id %></td>
				<!-- <td><%= link_to 'Show', template %></td> -->
				<td><%= link_to 'Edit', edit_etemplate_path(template) %></td>
				<td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br>

	<%= link_to 'New Template', new_etemplate_path, class: "btn btn-primary" %>
	<br><br> 

</div>

<%= render 'layouts/footer' %>
