<%= render 'partners/header' %>
<div class="container dashboard">
	<%= render 'layouts/message' %>

	<p>
		<strong>Template:</strong>
		<%= @template.template_id %>
	</p>

	<p>
		<strong>Template name:</strong>
		<%= @template.template_name %>
	</p>

	<%= link_to 'Edit', edit_etemplate_path(@template) %> |
	<%= link_to 'Back', etemplates_path %>
</div>
<%= render 'partners/footer' %>