<div class="container-fluid">

	<div class="row">
		<div class="col-xs-2 hidden-sm sidebar">
			<%= image_tag 'logo.png', width: 130 %>
			<hr>
			<%= link_to dashboard_path do %>
				<h4>
					<svg viewBox="0 0 20 20" >
		  			<g>
		  				<path d="M19 18a1 1 0 0 1 0 2H1a1 1 0 0 1 0-2h18zm0-18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h5V5a1 1 0 0 1 1-1h5V1a1 1 0 0 1 1-1h6zm-5 14h4V2h-4v12zm-6 0h4V6H8v8zm-6 0h4v-4H2v4z"></path>
		  			</g>
		  		</svg>
		  		<span> Dashboard</span>
		  	</h4>
	  	<% end %>
	  	<br>
	  	<%= link_to emails_path, class: 'active' do %>
		  	<h4>
					<svg viewBox="0 0 20 20" >
		  			<g>
	      			<path d="M17 0H6C3.79 0 2 1.79 2 4v10H1c-.552 0-1 .448-1 1v1c0 2.21 1.79 4 4 4h9c1.657 0 3-1.343 3-3V6h1c1.657 0 3-1.343 3-3s-1.343-3-3-3zM4 18c-1.105 0-2-.895-2-2h8v1c0 .34.057.68.17 1H4zm10-1c0 .552-.448 1-1 1s-1-.448-1-1v-2c0-.552-.448-1-1-1H4V4c0-1.105.895-2 2-2h8.18c-.118.32-.18.66-.18 1v14zm3-13h-1V3c0-.552.448-1 1-1s1 .448 1 1-.448 1-1 1zm-5 1c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1zm0 4c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1z"></path>
	      		</g>
		  		</svg>
		  		<span> Requests</span>
		  	</h4>
	  	<% end %>
		</div>
		<div class="col-xs-12 col-md-10">
			<div class="main-nav">
				<big>Requests</big>
				<div class="dropdown pull-right">
				  <a class="dropdown-toggle" data-toggle="dropdown">
				  	<span class="user-avatar"><%= current_user.name.first %></span>
				  	<span class="user-name"><%= current_user.name %></span>
					  <i class="glyphicon glyphicon-menu-down"></i>
					</a>
				  <ul class="dropdown-menu">
				  	<li><%= link_to 'Settings', edit_user_registration_path %></li>
				    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
				  </ul>
				</div>
			</div>

			<br><br>
			<h3>Requests</h3>
			<br><br>

			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#pending">Pending <span class="badge badge-primary"><%= @pending_emails.count %></span></a></li>
			  <li><a data-toggle="tab" href="#submitted">Submitted <span class="badge"><%= @submitted_emails.count %></span></a></li>
			</ul>

			<div class="tab-content">
			  <div id="pending" class="tab-pane fade in active">
			  	<br>
			    <table class="table">
				    <thead>
				      <tr>
				        <th>USER DOMAIN <span class="caret"></span></th>
				        <th>STATUS</th>
				        <th>PRODUCTS</th>
				        <th>DATE</th>
				        <th>PARTNER</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% @pending_emails.each do |email| %>
				      <tr>
				        <td><%= email.shop.shopify_domain %></td>
				        <td><span class="badge pending">Pending</span></td>
				        <td><%= email.products.count %></td>
				        <td><%= email.created_at %></td>
				        <td><%= email.user.name %></td>
				        <td>
				        	<%= link_to '&#8594;'.html_safe, show_email_path(email) %>
				        </td>
				      </tr>
				      <% end %>
				    </tbody>
				  </table>
			  </div>
			  <div id="submitted" class="tab-pane fade">
			    <br>
			    <table class="table">
				    <thead>
				      <tr>
				        <th>USER DOMAIN <span class="caret"></span></th>
				        <th>STATUS</th>
				        <th>PRODUCTS</th>
				        <th>DATE</th>
				        <th>PARTNER</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% @submitted_emails.each do |email| %>
				      <tr>
				        <td><%= email.shop.shopify_domain %></td>
				        <td><span class="badge submitted">Submitted</span></td>
				        <td><%= email.products.count %></td>
				        <td><%= email.created_at %></td>
				        <td><%= email.user.name %></td>
				        <td>
				        	<%= link_to '&#8594;'.html_safe, show_email_path(email) %>
				        </td>
				      </tr>
				      <% end %>
				    </tbody>
				  </table>
			  </div>
			</div>

		</div>
	</div>

</div>