<%= render 'layouts/header' %>
<div class="container dashboard">
	
	<% if current_user.admin? %>
		<h4><b>Partners</b></h4>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Email</th>
					<th>Company</th>
					<th>Phone</th>
					<th>Warehouse Location</th>
					<th>Number of Quotes</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.company %></td>
					<td><%= user.phone %></td>
					<td><%= user.warehouse_location %></td>
					<td><%= user.quotes.count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br><br>

		<h4><b>Shopify Stores</b></h4>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Shop Name</th>
					<th>Owner Email</th>
					<th>Shopify Domain</th>
					<th>Number of Requests</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @shops.each_with_index do |shop, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= shop.shop_name %></td>
					<td><%= shop.owner_email %></td>
					<td><%= shop.shopify_domain %></td>
					<td><%= shop.emails.count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>		

	<% end %>
</div>
<%= render 'layouts/footer' %>