<div class="container-fluid">

	<div class="row">
		<div class="col-xs-2 hidden-sm sidebar">
			<%= image_tag 'logo.png', width: 130 %>
			<hr>
			<%= link_to dashboard_path do %>
				<h4>
					<svg viewBox="0 0 20 20" >
		  			<g>
		  				<path d="M19 18a1 1 0 0 1 0 2H1a1 1 0 0 1 0-2h18zm0-18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h5V5a1 1 0 0 1 1-1h5V1a1 1 0 0 1 1-1h6zm-5 14h4V2h-4v12zm-6 0h4V6H8v8zm-6 0h4v-4H2v4z"></path>
		  			</g>
		  		</svg>
		  		<span> Dashboard</span>
		  	</h4>
	  	<% end %>
	  	<br>
	  	<%= link_to emails_path, class: 'active' do %>
		  	<h4>
					<svg viewBox="0 0 20 20" >
		  			<g>
	      			<path d="M17 0H6C3.79 0 2 1.79 2 4v10H1c-.552 0-1 .448-1 1v1c0 2.21 1.79 4 4 4h9c1.657 0 3-1.343 3-3V6h1c1.657 0 3-1.343 3-3s-1.343-3-3-3zM4 18c-1.105 0-2-.895-2-2h8v1c0 .34.057.68.17 1H4zm10-1c0 .552-.448 1-1 1s-1-.448-1-1v-2c0-.552-.448-1-1-1H4V4c0-1.105.895-2 2-2h8.18c-.118.32-.18.66-.18 1v14zm3-13h-1V3c0-.552.448-1 1-1s1 .448 1 1-.448 1-1 1zm-5 1c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1zm0 4c0 .552-.448 1-1 1H7c-.552 0-1-.448-1-1s.448-1 1-1h4c.552 0 1 .448 1 1z"></path>
	      		</g>
		  		</svg>
		  		<span> Requests</span>
		  	</h4>
	  	<% end %>
		</div>
		<div class="col-xs-12 col-md-10">
			<div class="main-nav">
				<big>Requests</big>
				<div class="dropdown pull-right">
				  <a class="dropdown-toggle" data-toggle="dropdown">
				  	<span class="user-avatar"><%= current_user.name.first %></span>
				  	<span class="user-name"><%= current_user.name %></span>
					  <i class="glyphicon glyphicon-menu-down"></i>
					</a>
				  <ul class="dropdown-menu">
				    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
				  </ul>
				</div>
			</div>

			<br><br>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="card auto-height">
						<div class="row">

							<div class="col-sm-4">
								<div class="row">
									<div class="col-xs-3">
										<%= image_tag 'request.png', width: '50' %>
									</div>
									<div class="col-xs-8">
										<b class="text-muted">REQUEST:</b><br>
										<h4><%= @email.products.first.title %></h4>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<div class="col-xs-3">
										<%= image_tag 'company.png', width: '50' %>
									</div>
									<div class="col-xs-8">
										<b class="text-muted">COMPANY:</b><br>
										<h4><%= @email.shop.shop_name %></h4>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<b class="text-muted">STATUS:</b><br>
									<H4><span class="badge <%= @email.status %>"><%= @email.status %></span></H4>
								</div>
							</div>

						</div>						
					</div>
					<br>

					<div class="card">
						<h4>Products</h4><br>
						<table class="table">
							<thead>
								<tr>
									<th>Image</th>
									<th>Title</th>
									<th>Weight (KG)</th>
									<th>Width (mm)</th>
									<th>Height (mm)</th>
									<th>Length (mm)</th>
									<th>Has Battery?</th>
									<th>Shipping Volume</th>
									<th>Order Quantity</th>
									<th>Special Notes</th>
								</tr>
							</thead>
							<tbody>
								<% @email.products.each do |product| %>
								<tr>
									<td><img src="<%= product.image %>" width="100"></td>
									<td><%= product.title %></td>									
									<td><%= product.weight %></td>									
									<td><%= product.width %></td>
									<td><%= product.height %></td>
									<td><%= product.length %></td>
									<td><%= product.has_battery %></td>
									<td><%= product.shipping_volume %></td>
									<td><%= product.order_quantity %></td>
									<td><%= product.notes %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<br>

					<div class="card">
						<h4>Pick and Pack Fees</h4><br>
						<%= form_for :quote, url: create_quote_path do |f| %>
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.hidden_field :email_id, value: @email.id %>
							<%= f.hidden_field :shop_id, value: @email.shop.id %>
							<table class="table quote-table">
								<tr>
									<td width="30%"><%= image_tag 'units.png' %> <b>Units</b></td>
									<td>1-50</td>
									<td>51-250</td>
									<td>251-2500</td>
									<td>2501-5000</td>
									<td>5001+</td>
								</tr>
								<tr>
									<td>First Unit</td>
									<td>
										<%= f.number_field :first_unit1, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :first_unit2, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :first_unit3, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :first_unit4, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :first_unit5, class: 'form-control', 'step': 0.01 %>
									</td>
								</tr>
								<tr>
									<td>Additional</td>
									<td>
										<%= f.number_field :additional1, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :additional2, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :additional3, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :additional4, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :additional5, class: 'form-control', 'step': 0.01 %>
									</td>
								</tr>
								<tr>
									<td>Packaging cost<br><small class="text-muted">if added</small></td>
									<td>
										<%= f.number_field :packaging_cost1, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :packaging_cost2, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :packaging_cost3, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :packaging_cost4, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :packaging_cost5, class: 'form-control', 'step': 0.01 %>
									</td>
								</tr>
								<tr class="border">
									<td><b>Total</b></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr class="border">
									<td width="30%">
										<%= image_tag 'storage_costs.png' %> 
										<b>Storage Cost</b> <br><small class="text-muted">$x/ per month/ cubic foot</small>
									</td>
									<td>
										<%= f.number_field :storage_cost1, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :storage_cost2, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :storage_cost3, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :storage_cost4, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :storage_cost5, class: 'form-control', 'step': 0.01 %>
									</td>
								</tr>
								<tr class="border">
									<td width="30%">
										<%= image_tag 'international_fees.png' %> 
										<b>International Processing Fee</b>
									</td>
									<td>
										<%= f.number_field :international_fee1, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :international_fee2, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :international_fee3, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :international_fee4, class: 'form-control', 'step': 0.01 %>
									</td>
									<td>
										<%= f.number_field :international_fee5, class: 'form-control', 'step': 0.01 %>
									</td>
								</tr>
								<tr class="border">
									<td width="30%">
										<%= image_tag 'storage_costs.png' %> 
										<b>Shipping Options</b>
									</td>
									<td colspan="5">
										<input class="form-control" value="<2days Fedex Air" disabled >
									</td>
								</tr>

								<% unless @quote.nil? %>

									<% @quote.shipping_options.each do |option| %>
									<tr>
										<td><%= option.product.title %></td>
										<td>
											<input type="number" value="<%= option.shipping_option1 %>" class="form-control" disabled>
										</td>
										<td>
											<input type="number" value="<%= option.shipping_option2 %>" class="form-control" disabled>
										</td>
										<td>
											<input type="number" value="<%= option.shipping_option3 %>" class="form-control" disabled>
										</td>
										<td>
											<input type="number" value="<%= option.shipping_option4 %>" class="form-control" disabled>
										</td>
										<td>
											<input type="number" value="<%= option.shipping_option5 %>" class="form-control" disabled>
										</td>
									</tr>
									<% end %>

								<% else %>

									<% @email.products.each do |product| %>
									<tr>
										<td><%= product.title %></td>
										<td>
											<input type="number" name="shipping_option[<%= product.id %>][]" class="form-control">
										</td>
										<td>
											<input type="number" name="shipping_option[<%= product.id %>][]" class="form-control">
										</td>
										<td>
											<input type="number" name="shipping_option[<%= product.id %>][]" class="form-control">
										</td>
										<td>
											<input type="number" name="shipping_option[<%= product.id %>][]" class="form-control">
										</td>
										<td>
											<input type="number" name="shipping_option[<%= product.id %>][]" class="form-control">
										</td>
									</tr>
									<% end %>

								<% end %>

								<tr class="border">
									<td width="30%">
										<%= image_tag 'warehouses.png' %> 
										<b>Warehousing</b>
									</td>
									<td>
										<%= f.text_field :warehousing_option1, class: 'form-control' %>
									</td>
									<td>
										<%= f.text_field :warehousing_option2, class: 'form-control' %>
									</td>
									<td>
										<%= f.text_field :warehousing_option3, class: 'form-control' %>
									</td>
									<td>
										<%= f.text_field :warehousing_option4, class: 'form-control' %>
									</td>
									<td>
										<%= f.text_field :warehousing_option5, class: 'form-control' %>
									</td>
								</tr>

							</table>
						</div>
						<br>
						<% if @quote.nil? %>
						<div class="text-right">
							<%= f.submit 'Send Quote', :class => 'btn btn-primary' %>
						</div>
						<% end %>
						<br>
					<% end %>

				</div>
			</div>			

		</div>
	</div>

</div>
<% unless @quote.nil? %>
<script>
	$("input").attr('disabled', true);
</script>
<% end %>
